# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Global git settings in $HOME/.gitconfig apply to all git projects of a user.
# Additional settings for a specifc git project are stored in the project's
# .git directory under <proj-dir>/.git/config.
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Enter your name and email in the [user] section below by editing or by
# global git config commands:
# - git config --global user.name "your name"
# - git config --global user.email "your@email.com"
# 

[core]
    ignorecase = true       # ignore upper/lower case in file names
    autocrlf = false        # disable crlf conversion on checkout
    filemode = false        # ignore filemode (rwx) changes
    eol = lf                # always use newline '\n' as end-of-line

[init]
    defaultBranch = main    # use 'main' as default branch

[alias]                     # create aliases called with: git <alias> ...
    changed = show --pretty=\"format:\" --name-only
    conflicts = !git ls-files -u | cut -f 2 | sort -u
[user]
	name = Salim
	email = salimrezabd658@gmail.com
